<div class="video-clip">
    <h2><img src="/images/thx/arrow-icon.png" alt="" />VIDEO CLIP</h2>
    @Html.Controls().VideoList(2, "VideoTop.cshtml")
   
</div>
<div class="news">
    <h2><img src="/images/thx/arrow-icon.png" alt="" />TIN TỨC</h2>
    @Html.Controls().NewsList("NewsTop.cshtml")
</div>