@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Layouts/Default.cshtml";
}

<h2>Index</h2>

<ul>
    <li>

        <a href="/admin/dashboard"> Dashboard</a>
    </li>
    <li>
        <a href="/admin/brand">Brand</a>
    </li>
    <li>
        <a href="/admin/banner">Banner</a>
    </li>
    <li>
        <a href="/admin/category">Category</a>
    </li>
    <li>
        <a href="/admin/content">Content</a>
    </li>
    <li>
        <a href="/admin/faq">FAQ</a>
    </li>
    <li>
        <a href="/admin/product">Product</a>
    </li>
    <li>
        <a href="/admin/userguide">UserGuide</a>
    </li>
    <li>
        <a href="/admin/video">Video</a>
    </li>
</ul>