<?xml version="1.0" encoding="utf-8"?>
<SiteConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/ShipEquipment.Core.Configurations">
	<LogException>true</LogException>
	<LogEvent>true</LogEvent>
	<RemoveWhitespaces>true</RemoveWhitespaces>
	<ConfigFile>
		<Log>~/config/log4net.config</Log>
		<Route>~/config/routes.config</Route>
	</ConfigFile>
	<ErrorEmail>
		<DefaultReceiver>tuannh@cateno.no</DefaultReceiver>
		<DefaultSender>no-reply@cateno.no</DefaultSender>
		<EnableSsl>false</EnableSsl>
		<FilterErrorCode>*</FilterErrorCode>
		<IsSendEmail>true</IsSendEmail>
		<SmtpAuthentication>false</SmtpAuthentication>
		<SmtpPassword>2008-KL</SmtpPassword>
		<SmtpPort>25</SmtpPort>
		<SmtpServer>mail.cateno.no</SmtpServer>
		<SmtpUsername>smtp@cateno.no</SmtpUsername>
		<SubjectPrefix>Error on site: </SubjectPrefix>
	</ErrorEmail>
	<AddTrailingSlash>false</AddTrailingSlash>
	<Quality>80</Quality>
	<Banner>
		<Background>#FFF</Background>
		<Height>344</Height>
		<ThumbHeight>61</ThumbHeight>
		<ThumbWidth>200</ThumbWidth>
		<Width>1110</Width>
	</Banner>
	<Brand>
		<Background>#FFF</Background>
		<Height>85</Height>
		<ThumbHeight>85</ThumbHeight>
		<ThumbWidth>175</ThumbWidth>
		<Width>175</Width>
	</Brand>
	<Product>
		<Background>#FFF</Background>
		<Height>600</Height>
		<ThumbHeight>150</ThumbHeight>
		<ThumbWidth>200</ThumbWidth>
		<Width>800</Width>
	</Product>
	<News>
		<Background>#FFF</Background>
		<Height>600</Height>
		<ThumbHeight>182</ThumbHeight>
		<ThumbWidth>244</ThumbWidth>
		<Width>800</Width>
	</News>
</SiteConfiguration>