@model IEnumerable<ShipEquipment.Biz.Domain.Product>

<div class="inner-frm3">
    <h2><img src="/images/thx/arrow-icon.png" alt="" />SẢN PHẨM XEM GẦN NHẤT</h2>
    <div class="productsView">
        <div id="owl1">
            <div class="item">
                <div class="content_products">
                    <div class="img_content"><a href="#"> <img src="/images/thx/product1.jpg" alt="" /></a></div>
                    <div class="text_infor">
                        <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                        <p class="price">800,000 vnđ</p>
                    </div>
                    <a href="#" class="btn_chonmua">CHỌN MUA</a>
                </div>
            </div>
            <div class="item">
                <div class="content_products">
                    <div class="img_content"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                    <div class="text_infor">
                        <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                        <p class="price">800,000 vnđ</p>
                    </div>
                    <a href="#" class="btn_chonmua">CHỌN MUA</a>
                </div>
            </div>
            <div class="item">
                <div class="content_products">
                    <div class="img_content"><a href="#"> <img src="/images/thx/product3.jpg" alt="" /></a></div>
                    <div class="text_infor">
                        <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                        <p class="price">800,000 vnđ</p>
                    </div>
                    <a href="#" class="btn_chonmua">CHỌN MUA</a>
                </div>
            </div>
            <div class="item">
                <div class="content_products">
                    <div class="img_content"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                    <div class="text_infor">
                        <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                        <p class="price">800,000 vnđ</p>
                    </div>
                    <a href="#" class="btn_chonmua">CHỌN MUA</a>
                </div>
            </div>
            <div class="item">
                <div class="content_products">
                    <div class="img_content"><a href="#"> <img src="/images/thx/product6.jpg" alt="" /></a></div>
                    <div class="text_infor">
                        <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                        <p class="price">800,000 vnđ</p>
                    </div>
                    <a href="#" class="btn_chonmua">CHỌN MUA</a>
                </div>
            </div>
            <div class="item">
                <div class="content_products">
                    <div class="img_content"><a href="#"> <img src="/images/thx/product4.jpg" alt="" /></a></div>
                    <div class="text_infor">
                        <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                        <p class="price">800,000 vnđ</p>
                    </div>
                    <a href="#" class="btn_chonmua">CHỌN MUA</a>
                </div>
            </div>
            <div class="item">
                <div class="content_products">
                    <div class="img_content"><a href="#"> <img src="/images/thx/product2.jpg" alt="" /></a></div>
                    <div class="text_infor">
                        <p>Lorem ipsum dolor sit amet, consee adipiscing elit</p>
                        <p class="price">800,000 vnđ</p>
                    </div>
                    <a href="#" class="btn_chonmua">CHỌN MUA</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>  