@model IEnumerable<ShipEquipment.Biz.Domain.Page>

@{
    var pageAlias = "index";
    if (ShipEquipment.Core.SiteContext.Current.RouteData.Values["frontendpage"] != null)
    {
        pageAlias = ShipEquipment.Core.SiteContext.Current.RouteData.Values["frontendpage"].ToString();
    }
    var count = Model.Count();
    var index = 1;
}


<ul class="nav-list">
    @if (Model != null)
    {
        foreach (var page in Model)
        {
            var active = string.Compare(page.Alias, pageAlias, true) == 0 ? "active" : "";
            var last = index == count ? "last" : "";
            index++;

            <li class="nav-item @last">
                <a href="/@page.Alias" title="@page.Name" class="@active">@page.Name</a>
            </li>
        }
    }
</ul>