@model  ShipEquipment.Biz.Domain.NewsArticle

<p class="link">
    <a href="/">Trang chủ</a><span>&gt;&gt;</span>
    <a href="/tin-tuc/">Tin tức</a><span>&gt;&gt;</span>
    <a href="javascript:void(0)" class="active">Chi tiết</a>
</p>
<div class="inner-frm6">
    <div class="news-detail">
        <h3>@Model.Title</h3>
        <p>
            <strong>
                @Model.Summary
            </strong>
        </p>
        @Html.Raw(Model.Content)
    </div>
</div>