<div id="fw_banner">
    <div class="logo"><a href="/admin/" target="_blank"><img src="/images/admin/logo.png" border="0" alt="" /></a></div>
    <div class="right_top"><ul><li><p>Xin chào : Admin</p></li><li><a href="#">Đổi mật khẩu</a></li> <li><a href="#">Thoát</a></li></ul></div>
</div>