
<div class="contentF">
    <div class="design_by">
        @Html.Controls().Content("Footer", "Content-Footer.cshtml")
      
        <div class="face-book">
            @Html.Controls().Content("Facebook", "Content-Footer.cshtml")
        </div>
    </div>
    <div class="clear"></div>
</div>