<div class="frm">
    <h2><img src="/images/thx/arrow-icon.png" alt="" />địa chỉ liên hệ</h2>
    <div class="address">
        @Html.Controls().Content("ContactRight", "Content-Footer.cshtml")
    </div>
</div>