<div id="search">
    <form action="/san-pham" method="get">
        <input type="text" id="kw" name="kw" class="text placeholder-fix" value="" placeholder="Tên SP, Mã SP,..." />
        <input type="submit" class="button" value="Tìm" />
    </form>

</div>