<div id="search">
    <input type="text" name="textsearch" class="text placeholder-fix" value="" placeholder="Nhập nội dung tìm kiếm" />
    <input type="submit" name="button" class="button" value="Tìm" />
</div>