@*<div class="weather">

        <a href="#"><img src="/images/thx/weather.jpg" alt="" /></a>
    </div>*@

<div class="frm">
    <h2><img alt="" src="/images/thx/arrow-icon.png">Thời tiết</h2>
    <iframe id="weather" src="http://vso.vn/thoitiet/" style="width: 248px; height: 230px;" scrolling="no" frameborder="0"></iframe>
</div>