<?xml version="1.0"?>
<bundleConfig ignoreIfDebug="false" ignoreIfLocal="false">
  <cssBundles>
    <!--<add bundlePath="~/css/common/login">
      <files>
        <add filePath="~/Areas/Admin/Styles/login_style.css"/>
      </files>
    </add>
    <add bundlePath="~/css/kendo">
      <files>
        <add filePath="~/Content/kendo/2014.1.528/kendo.common.css"/>
        <add filePath="~/Content/kendo/2014.1.528/kendo.dataviz.css"/>
        <add filePath="~/Content/kendo/2014.1.528/kendo.default.css"/>
        <add filePath="~/Content/kendo/2014.1.528/kendo.dataviz.default.css"/>
        <add filePath="~/Areas/Admin/Styles/kendo.custom.css"/>

      </files>
    </add>
    <add bundlePath="~/css/admin">
      <files>
        <add filePath="~/Areas/Admin/Styles/style.css"/>
        <add filePath="~/Areas/Admin/Styles/reset.css"/>
        <add filePath="~/Areas/Admin/Styles/style.custom.css"/>

        --><!--<add filePath="~/Areas/Admin/styles/jpreloader.css"/>--><!--
      </files>
    </add>
    <add bundlePath="~/css/dashboard">
      <files>
        <add filePath="~/Areas/Admin/Styles/style_box.css"/>
        <add filePath="~/Areas/Admin/Styles/scroll_dashboard.css"/>
        <add filePath="~/Areas/Admin/Styles/perfect-scrollbar.css"/>
      </files>
    </add>
    <add bundlePath="~/css/edit.mode">
      <files>
        <add filePath="~/utility/ckeditor/contents.css"/>
        <add filePath="~/Content/claw.ui/common/jquery.fancybox.css"/>
        <add filePath="~/Content/claw.ui/claw.page/jquery.dropdown.css"/>
      </files>
    </add>-->
  </cssBundles>

  <jsBundles>
    <add bundlePath="~/js/default">
      <files>
        <add filePath="~/Scripts/jquery/jquery-{version}.js" />
        <add filePath="~/scripts/jquery/jquery.cookie.js" />
        <add filePath="~/Scripts/common/global.js" />
        <add filePath="~/scripts/common/utilities.js" />
      </files>
    </add>
    <add bundlePath="~/js/jqueryval">
      <files>
        <add filePath="~/Scripts/jquery/jquery.validate*" />
        <add filePath="~/Scripts/jquery/jquery.unobtrusive*" />
      </files>
    </add>
    <add bundlePath="~/js/lazyload">
      <files>
        <add filePath="~/Scripts/common/lazyload.js" />
        <add filePath="~/Scripts/jquery/jquery.customsort.js" />
        <add filePath="~/Scripts/common/execute.lazyload.js" />
      </files>
    </add>   
  </jsBundles>
</bundleConfig>
