<routeTable>
  <ignores>
    <clear/>
    <add name="axd" url="{resource}.axd/{*pathInfo}"/>
    <add name="aspx" url="{*allaspx}">
      <constraints allaspx =".*\.(aspx)(/.*)?" />
    </add>
    <add name="html" url="{*allhtml}">
      <constraints allhtml =".*\.(html|htm|shtml)(/.*)?"/>
    </add>
    <add name="cssjsimages" url="{*css}">
      <constraints css =".*\.(js|css|swf|flv|jpg|png|gif|ico)(/.*)?"/>
    </add>
    <!--<add name="allfiles" url="{*allfiles}">
				<constraints allfiles=".*\.(.*)(/.*)?"/>
			</add>-->
  </ignores>
  <routes>
    <!--common file generate route-->
    <!--<add name="Robots" url="robots.txt">
      <defaults controller="Resource" action="RobotsTxt"></defaults>
      <dataTokens Namespaces="Claw.Admin.Common" area="Common"/>
    </add>
    <add name="Sitemap" url="sitemap.xml">
      <defaults controller="Resource" action="SiteMap"></defaults>
      <dataTokens Namespaces="Claw.Admin.Common" area="Common"/>
    </add>-->

    <!--admin area-->
    <add name="Admin_Default" url="admin/{controller}/{action}/{id}">
      <defaults controller="Dashboard" action="Index" id ="UrlParameter.Optional" ></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Areas.Admin.Controllers" area="Admin" />
    </add>
    <!--<add name="Admincp_Default" url="admincp" redirectUrl="/admin" />
    <add name="Backend_Default" url="backend" redirectUrl="/admin" />-->
    <!--end admin area-->

    <!--captcha-->
    <!--<add name="FrontEnd_DefaultCaptcha" url="captcha/default/{action}">
      <defaults controller = "DefaultCaptcha" ></defaults>
      <dataTokens Namespaces="Claw.Controls.CaptchaMvc.Controllers" />
    </add>-->
    <!--end captcha-->

    <!--common area-->
    <!--<add name="Common_Default" url="Common/{controller}/{action}/{id}">
      <defaults action="Index" ></defaults>
      <dataTokens Namespaces="Claw.Admin.Common" area="Common" />
    </add>
    --><!--end common area--><!--

    --><!--common error--><!--
    <add name="Error_Default" url="Common/{errorcode}">
      <defaults controller="CustomError" action="Index" ></defaults>
      <dataTokens Namespaces="Claw.Admin.Common" area="Common" />
    </add>-->
    <!--end common error-->

    <!--Frontend route-->
    <add name="FrontEnd_DefaultPage" url="{frontendpage}">
      <defaults controller="Home" action="Index" frontendpage="index" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Controllers"/>
    </add>

    <add name="FrontEnd_NewsCategory" url="tin/{newscategoryalias}">
      <defaults controller="Home" action="Index" frontendpage="tin-tuc" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Controllers"/>
    </add>

    <add name="FrontEnd_NewsDetail" url="{newscategoryalias}/chi-tiet/{newsalias}">
      <defaults controller="Home" action="Index" frontendpage="chi-tiet-tin" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductByCategory" url="san-pham/{categoryalias}">
      <defaults controller="Home" action="Index" frontendpage="index" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductDetailWithCategory" url="{categoryalias}/chi-tiet/{productalias}">
      <defaults controller="Home" action="Index" frontendpage="index" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductDetail" url="chi-tiet/{productalias}">
      <defaults controller="Home" action="Index" frontendpage="index" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Controllers"/>
    </add>





    <!--<add name="FrontEnd_Index" url="">
      <defaults controller="Page" action="Index"></defaults>
      <dataTokens Namespaces="ShipEquipment.Web.Controllers"/>
    </add>-->

    <!--End frontend route-->

  </routes>
</routeTable>
