#horizontalTab{ }
ul.resp-tabs-list { margin:25px 0 0px; padding: 0 }
.resp-tabs-list li { display: inline-block; padding: 5px 20px; margin: 0; list-style: none; cursor: pointer; float: left; border-right: 1px solid #DDD; color: #fff; line-height: 20px; background: #2a2522; display: block; font-family: oswaldregular; font-size: 14px; font-weight: normal; }
.resp-tabs-container { background-color: #fff; clear: left; margin-bottom: 20px }
h2.resp-accordion { cursor: pointer; padding: 5px; display: none; margin-bottom: 0 !important }
.resp-tab-content { display: none; padding: 0 0 10px 0; margin: 0; width: 100% }
.resp-tab-active { color: #fff !important; border: none; background: #ff4800!important; margin: 5px 0; }
.resp-content-active, .resp-accordion-active { display: block; }
.resp-tab-content { padding: 2%; width: 96% }
h2.resp-accordion { font-size: 14px }
h2.resp-accordion { background:#2a2522; border-bottom: 1px solid #DDDDDD; color: #FFFFFF; padding: 7px 3%; width: 94%; font-family: oswaldregular; font-size: 14px; font-weight: normal }
h2.resp-tab-active { }
.resp-tabs-container h2:hover{background:#ff4700 !important}
h2.resp-tab-title:last-child { border-bottom: 12px solid #DDD !important; background: blue; }
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list { float: left; width: 30%; }
.resp-vtabs .resp-tabs-list li { display: block; padding: 15px 15px !important; margin: 0; cursor: pointer; float: none; }
.resp-vtabs .resp-tabs-container { padding: 0px; background-color: #fff; border: 1px solid #DDD; float: left; width: 68%; min-height: 250px; border-radius: 4px; clear: none; }
.resp-vtabs .resp-tab-content { border: none; }
.resp-vtabs li.resp-tab-active { border: 1px solid #DDD; border-right: none; background-color: #fff; position: relative; z-index: 1; margin-right: -1px !important; padding: 14px 15px 15px 14px !important; }
.resp-arrow { width: 0; height: 0; float: right; margin-top: 5px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 12px solid #DDD; }
h2.resp-tab-active span.resp-arrow { border: none; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 12px solid #fff; }
.resp-tabs-list li:hover{ background:#ff4800 !important}
.contenttab{ width:99%}
/*-----------Accordion styles-----------*/
h2.resp-tab-active { background: #ff4800!important; width: 96%; padding: 0 2%; margin: 0 }
.resp-easy-accordion h2.resp-accordion { display: block; }
.resp-easy-accordion .resp-tab-content { border: 1px solid #DDD; }
.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #DDD !important; }
.resp-jfit { width: 100%; margin: 0px; }
.resp-tab-content-active { display: block; }
h2.resp-accordion:first-child { border-top: 1px solid #DDD !important; margin-bottom: 0 }

@media only screen and (max-width: 980px) {
.resp-tabs-list li { }
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list { display: none; }
h2.resp-accordion { display: block; padding: 7px 3%; width: 94% !important }
.resp-vtabs .resp-tab-content { }
.resp-vtabs .resp-tabs-container { border: none; float: none; width: 100%; min-height: initial; clear: none; }
.resp-accordion-closed { display: none !important; }
.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #DDD !important; }
}
