@model IEnumerable<ShipEquipment.Biz.Domain.Video>
           

<p class="link"><a href="#">Trang chủ</a><span>&gt;&gt;</span><a href="#" class="active">Video clip</a></p>
<div class="inner-frm4">
    <div id="owl2">
        <div class="item">
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh1.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM1</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh2.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM2</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh3.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM3</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh4.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM4</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh3.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM5</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh4.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM6</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh4.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM7</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh2.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM8</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh1.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM9</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh2.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM10</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh3.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM11</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh4.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM12</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content_products">
                <div class="img_content"><a href="#"> <img src="/images/thx/hinh2.jpg" alt="" /></a></div>
                <div class="text_infor2">
                    <p><a href="#">ALBUM13</a></p>
                    <p class="date">01/11/2014</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>