@model IEnumerable<ShipEquipment.Biz.Domain.Video>

@if (Model != null)
{
    foreach (var video in Model)
    {
    
    //http://img.youtube.com/vi/@(video.Description)/mqdefault.jp
        <div class="video">
            <a data-id="#v@(video.Id)" href="javascript:void(0)"><img src="/Userfiles/Modules/Video/@(video.VideoId).jpg" alt="@video.Name" /></a>
            <p>
                <a data-id="#v@(video.Id)" href="javascript:void(0)">
                    @video.Name
                </a>
            </p>
        </div>
    }

    <ul id="video-gallery" style="display: none;">
        @foreach (var video in Model)
        {
            <li id="v@(video.Id)" data-src="@video.Url">
                <a href="#">
                    <img src="/Userfiles/Modules/Video/Thumb/@(video.VideoId).jpg" alt="@video.Name" />
                </a>
            </li>
        }
    </ul>
}
